@model QuizBuilder.Models.Quiz

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Quiz</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.QuizAuthor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuizAuthor)
                @Html.ValidationMessageFor(model => model.QuizAuthor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuizName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuizName)
                @Html.ValidationMessageFor(model => model.QuizName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionPoolID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionPoolID)
                @Html.ValidationMessageFor(model => model.QuestionPoolID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
