@model IEnumerable<QuizBuilder.Models.Quiz>
@if(User.IsInRole("admin"))
{ 
@Html.ActionLink("Create New", "CreateQuiz", null, new { @class = "btn btn-default", @style = "margin: 5px" })
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuizAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionPoolID)
        </th>
        @if(User.IsInRole("admin"))
        { 
        <th></th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuizAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuizName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionPoolID)
            </td>
            @if(User.IsInRole("admin"))
            { 
            <td>
                @Html.ActionLink("Manage", "ManageQuiz", "Quiz", new {quizId = item.QuizID }, new { @class = "btn btn-default", @style = "margin: 5px" })
            </td>
            }
            <td>
                @Html.ActionLink("Take", "NewQuiz", "Quiz", new { quizId = item.QuizID }, new { @class = "btn btn-default", @style = "margin: 5px" })  
            </td>
        </tr>
    }
</table>
