@model QuizBuilder.Models.Question
<h2>CreateQuestion</h2>

@using (Html.BeginForm("CreateQuestion", "Question", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ScenarioID, "ScenarioID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ScenarioID", @ViewData["ScenarioID"] as SelectList, String.Empty)
                @Html.ValidationMessageFor(model => model.ScenarioID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionTypeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionTypeID)
                @Html.ValidationMessageFor(model => model.QuestionTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionContent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionContent)
                @Html.ValidationMessageFor(model => model.QuestionContent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnswerContent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnswerContent)
                @Html.ValidationMessageFor(model => model.AnswerContent)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
