@model IEnumerable<QuizBuilder.Models.Scenario>
@Html.ActionLink("Create New", "CreateScenario", null, new { @class = "btn btn-default", @style = "margin: 5px" })
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuizID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScenarioSequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScenarioName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScenarioText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRichText)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuizID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScenarioSequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScenarioName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScenarioText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRichText)
            </td>
            <td>
                @Html.ActionLink("Manage", "ManageScenario", "Scenario", new { scenarioId = item.ScenarioID }, new { @class = "btn btn-default", @style = "margin: 5px" })
            </td>
        </tr>
    }

</table>
