@model QuizBuilder.Models.Scenario

@{
    ViewBag.Title = "ManageScenario";
}

<h2>ManageScenario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Scenario</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ScenarioID)

        <div class="form-group">
            @Html.LabelFor(model => model.QuizID, "QuizID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("QuizID", @ViewData["QuizId"] as SelectList, String.Empty, new { @style = "margin-top:5px" })
                @Html.ValidationMessageFor(model => model.QuizID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScenarioSequence, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScenarioSequence)
                @Html.ValidationMessageFor(model => model.ScenarioSequence)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScenarioName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScenarioName)
                @Html.ValidationMessageFor(model => model.ScenarioName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ScenarioText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ScenarioText)
                @Html.ValidationMessageFor(model => model.ScenarioText)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRichText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsRichText)
                @Html.ValidationMessageFor(model => model.IsRichText)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@Html.Action("ListQuestion", "Question", new { scenarioId = Model.ScenarioID })
@Html.Action("CreateQuestion", "Question", new { scenarioId = Model.ScenarioID })
